include:
  - project: dau/ci/pyci
    file: .gitlab-ci-template.yml

variables:
  WARNING1: "ignore::DeprecationWarning:kombu.utils.compat"
  WARNING2: "ignore::DeprecationWarning:celery.utils.imports"
  WARNINGS: "-W ${WARNING1} -W ${WARNING2}"

test-3.9:
  extends: .test-3.9
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error ${WARNINGS}"

test-3.10:
  extends: .test-3.10
  before_script:
    - !reference [.test-3.10, before_script]
    - python -m pip install blissdata --ignore-requires-python
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error ${WARNINGS}"

test-3.12:
  extends: .test-3.12
  before_script:
    - !reference [.test-3.11, before_script]
    - python -m pip install blissdata --ignore-requires-python
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error ${WARNINGS}"

test-3.12-slurm:
  extends: test-3.12
  script:
    - python -m pip install --pre .[test,orange]
    - python -m gevent.monkey --module pytest . -v
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error ${WARNINGS}"

test-3.8-win:
  extends: .test-3.8-win
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error ${WARNINGS}"

test-3.8-redis:
  extends: .test-3.8-redis
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error ${WARNINGS}"

test-3.8-redis-slurm:
  extends: test-3.8-redis
  script:
    - python -m pip install --pre .[test,orange]
    - python -m gevent.monkey --module pytest . -v
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error ${WARNINGS}"

test-3.8-examples-sql:
  extends: .test-3.8
  script:
    - python -m pip install --pre .[test]
    - python -m pip install --pre ewoksppf
    - ./scripts/worker.sh --sql --pool=process &
    - ./scripts/runjobs.sh --sql
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error ${WARNINGS}"

test-3.8-examples-redis:
  extends: .test-3.8-redis
  script:
    - python -m pip install --pre .[test]
    - python -m pip install --pre ewoksppf
    - redis-server &
    - ./scripts/worker.sh --redis --pool=process &
    - ./scripts/runjobs.sh --redis
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error ${WARNINGS}"

build_sdist:
  extends: .build_sdist

test_sdist-3.9-redis:
  timeout: 15m
  extends: .test_sdist-3.9-redis
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error ${WARNINGS} -W ignore::RuntimeWarning:networkx.utils.backends" # networkx #7372

test_sdist-3.12-win:
  extends: .test_sdist-3.12-win
  before_script:
    - !reference [.test_sdist-3.10-win, before_script]
    - python -m pip install blissdata --ignore-requires-python
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error ${WARNINGS}"

build_doc:
  extends: .build_doc

pages:
  extends: .pages

assets:
  extends: .assets

testpypi:
  extends: .testpypi

pypi:
  extends: .pypi
