include:
  - project: workflow/ewoksadmin/ewoksci
    file: .gitlab-ci-template.yml

test-3.7:
  extends: .test-3.7

test-3.7-slurm:
  extends: test-3.7
  script:
    - python -m pip install --pre .[test,orange]
    - python -m gevent.monkey --module pytest . -v

test-3.7-win:
  extends: .test-3.7-win

test-3.7-redis:
  extends: .test-3.7
  before_script:
    - apt update
    - apt install -y redis-server
    - !reference [.test-3.7, before_script]

test-3.7-redis-slurm:
  extends: test-3.7-redis
  script:
    - python -m pip install --pre .[test,orange]
    - python -m gevent.monkey --module pytest . -v

test-3.8-examples-sql:
  extends: .test-3.8
  script:
    - python -m pip install --pre .[test]
    - python -m pip install --pre ewoksppf
    - ./scripts/worker.sh --sql --pool=process &
    - ./scripts/runjobs.sh --sql

test-3.8-examples-redis:
  extends: .test-3.8
  before_script:
    - apt update
    - apt install -y redis-server
    - !reference [.test-3.8, before_script]
  script:
    - python -m pip install --pre .[test]
    - python -m pip install --pre ewoksppf
    - redis-server &
    - ./scripts/worker.sh --redis --pool=process &
    - ./scripts/runjobs.sh --redis

build_sdist:
  extends: .build_sdist

test_sdist-3.8-redis:
  extends: .test_sdist-3.8
  before_script:
    - apt update
    - apt install -y redis-server
    - !reference [.test_sdist-3.8, before_script]

test_sdist-3.8-win:
  extends: .test_sdist-3.8-win

build_doc:
  extends: .build_doc

pages:
  extends: .pages

assets:
  extends: .assets

