include:
  - remote: https://gitlab.esrf.fr/workflow/ewoks/ewoks/raw/main/.gitlab-ci-template.yml

test-3.7:
  extends: .test-3.7

test-3.7-redis:
  extends: .test-3.7
  before_script:
    - apt update
    - apt install -y redis-server
    - !reference [.test-3.7, before_script]

test-3.8-examples:
  extends: .test-3.8
  script:
    - python -m pip install --pre .[test]
    - python examples/example_with_events.py
    - ./examples/worker.sh &
    - python examples/example_with_events.py --celery
    - python examples/hello_world.py

build_sdist:
  extends: .build_sdist

test_sdist-3.8-redis:
  extends: .test_sdist-3.8
  before_script:
    - apt update
    - apt install -y redis-server
    - !reference [.test_sdist-3.8, before_script]

test_sdist-3.8-win:
  extends: .test_sdist-3.8-win

build_doc:
  extends: .build_doc

pages:
  extends: .pages

assets:
  extends: .assets

