include:
  - project: dau/ci/pyci
    file: .gitlab-ci-template.yml

variables:
  WARNING1: "ignore::DeprecationWarning:kombu.utils.compat"
  WARNING2: "ignore::DeprecationWarning:celery.utils.imports"
  WARNINGS: "-W ${WARNING1} -W ${WARNING2}"

test-3.8-examples-sql:
  extends: .test-3.8
  script:
    - python -m pip install --pre .[test]
    - python -m pip install --pre ewoksppf
    - python -m pip install git+https://github.com/celery/kombu.git
    - ./scripts/worker.sh --sql --pool=process &
    - ./scripts/runjobs.sh --sql
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error ${WARNINGS}"

test-3.9-examples-sql:
  extends: .test-3.9
  script:
    - python -m pip install --pre .[test]
    - python -m pip install --pre ewoksppf
    - python -m pip install git+https://github.com/celery/kombu.git
    - ./scripts/worker.sh --sql --pool=process &
    - ./scripts/runjobs.sh --sql
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error ${WARNINGS}"

test-3.10-examples-sql:
  extends: .test-3.10
  script:
    - python -m pip install --pre .[test]
    - python -m pip install --pre ewoksppf
    - python -m pip install git+https://github.com/celery/kombu.git
    - ./scripts/worker.sh --sql --pool=process &
    - ./scripts/runjobs.sh --sql
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error ${WARNINGS}"

test-3.11-examples-sql:
  extends: .test-3.11
  script:
    - python -m pip install --pre .[test]
    - python -m pip install --pre ewoksppf
    - python -m pip install git+https://github.com/celery/kombu.git
    - ./scripts/worker.sh --sql --pool=process &
    - ./scripts/runjobs.sh --sql
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error ${WARNINGS}"

test-3.12-examples-sql:
  extends: .test-3.12
  script:
    - python -m pip install --pre .[test]
    - python -m pip install --pre ewoksppf
    - python -m pip install git+https://github.com/celery/kombu.git
    - ./scripts/worker.sh --sql --pool=process &
    - ./scripts/runjobs.sh --sql
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error ${WARNINGS}"
