include:
  - remote: https://gitlab.esrf.fr/workflow/ewoks/ewoks/raw/main/.gitlab-ci-template.yml

test-3.6:
  extends: .test-3.6
  script:   # before_script cannot be referenced
    - apt update
    - apt install -y redis-server
    - !reference [.test-3.6, script]

build_sdist:
  extends: .build_sdist

test_sdist-3.8:
  extends: .test_sdist-3.8
  before_script:
    - apt update
    - apt install -y redis-server
    - !reference [.test_sdist-3.8, before_script]

build_doc:
  extends: .build_doc

pages:
  extends: .pages

assets:
  extends: .assets

