include:
  - project: workflow/ewoksadmin/ewoksci
    file: .gitlab-ci-template.yml

variables:
  WARNING1: "ignore::DeprecationWarning:kombu.utils.compat"
  WARNING2: "ignore::DeprecationWarning:celery.utils.imports"

build_sdist:
  extends: .build_sdist
  only:
    refs:
      - main
      - merge_requests

test_sdist-3.9-redis:
  extends: .test_sdist-3.9
  before_script:
    - apt update
    - apt install -y redis-server
    - !reference [.test_sdist-3.8, before_script]
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error -W ${WARNING1} -W ${WARNING2}"
  only:
    refs:
      - main
      - merge_requests

test_sdist-3.10-win:
  extends: .test_sdist-3.10-win
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error -W ${WARNING1} -W ${WARNING2}"
  only:
    refs:
      - main
      - merge_requests

build_doc:
  extends: .build_doc

pages:
  extends: .pages

assets:
  extends: .assets

